@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background: linear-gradient(45deg, #0f0f0f, #550000);
  min-height: 100vh;
  background-size: 400% 400%;
  animation: gradientBackground 5s ease infinite;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
