@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}