/node_modules
/client/node_modules/
/server/node_modules/


/client/.env.production
/client/.env.development
server/.env
server/.env.development
server/.env.production
*.env

!client/env.example
!server/env.example
.idea/
*.iml