.chatContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background: linear-gradient(135deg, #141414, #0e0000);
}

.chatWindow {
  width: 80%;
  max-width: 500px;
  background-color: #292929;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.messagesContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  max-height: 500px;
  border-bottom: 2px solid #444;
}

.noMessages {
  text-align: center;
  color: #aaa;
  font-size: 14px;
}

.messageBubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;
  margin: 5px 0;
  color: white;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background: linear-gradient(135deg, #5e0b0b, #9d1b1b);
  box-shadow: 0 5px 15px rgba(255, 75, 75, 0.4);
}

.received {
  align-self: flex-start;
  background: #444;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #141414;
  border-radius: 10px;
  margin-top: 10px;
}

.messageInput {
  flex-grow: 1;
  background-color: #444;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.2);
}

.messageInput:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.sendButton {
  background-color: #9d1b1b;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sendButton:hover {
  background-color: #5e0b0b;
  box-shadow: 0 5px 15px rgba(255, 75, 75, 0.4);
}

@media (max-width: 600px) {
  .chatWindow {
    width: 100%;
  }

  .messageInput {
    font-size: 12px;
  }
}
