.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.logContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #080808;
  box-shadow: 10px 10px 30px 10px black;
  color: white;
  font-size: 16px;
  padding: 20px;
  width: 350px;
  border-radius: 15px;
}

.logContainer > form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.932);
  background-color: #131313;
}

.logContainer > form > input {
  height: 25px;
  background-color: #242424;
  border: none;
  padding: 10px;
  margin: 0px 0 20px 10px;
  border-radius: 5px;
  width: 87%;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.623);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
}

.logContainer > form > input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.26);
  background-color: #494949;
}


.Title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 30px;
  }

  .logContainer {
    width: 75%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px black;
  }

  .logContainer > form {
    width: 100%;
    padding: 15px;
  }

  .logContainer > form > input {
    font-size: 14px;
    margin: 10px 0 15px 0;
    width: 95%;
  }

  .logContainer > form > button {
    width: 100%;
    font-size: 14px;
    height: 40px;
  }

  .Title {
    font-size: 22px;
  }
}
