.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  align-self: flex-start;
  margin: 10px 0px 20px 10px;
}

.post-details {
  max-width: 800px;
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #2a2a2a; /* Dark background to match the theme */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  font-family: "Arial", sans-serif;
}

.post-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.post-date {
  position: absolute;
  left: 0;
  font-size: 0.9rem;
  color: #b0b0b0; /* Light gray color for date */
}

.post-title-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffc8c8; /* Red-orange title text */
  text-transform: uppercase;
}

/* Image Styling */
.image-container {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

/* Image Hover Effect */
.post-image:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Description Styling */
.post-description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #e0e0e0;
  background-color: #1f1e1e; /* Light gray text for readability */
  text-align: justify;
  padding: 10px;
}

.btnSimple {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 100ms;
}

.btnSimple > a {
  text-decoration: none;
  color: white;
}

.btnSimple:hover {
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(65, 65, 65);
}
.post-details .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6242; /* Button with red-orange color */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.post-details .btn:hover {
  background-color: #ff3a21; /* Darker red on hover */
}

@media (max-width: 600px) {
  .post-details {
    max-width: 80vw;
    width: 80vw;
  }
  .post-title {
    font-size: 1.5rem;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
  }
  .post-description {
    font-size: 1rem;
  }
  .post-date {
    position: static;
    margin-bottom: 5px; /* Space between date and title */
  }

  .post-title-text {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}
