.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #080808;
  box-shadow: 10px 10px 30px 10px black;
  color: white;
  font-size: 16px;
  padding: 20px;
  width: 350px;
  border-radius: 15px;
}

.registerContainer > form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 20px 0;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.932);
  background-color: #131313;
}

.registerContainer > form > input {
  height: 25px;
  background-color: #2b2b2b;
  border: none;
  padding: 10px;
  margin: 10px 0 20px 5px;
  border-radius: 5px;
  width: 90%;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.623);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
}

.registerContainer > form > input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.26);
  background-color: #494949;
}

.registerContainer > form > button {
  width: 100px;
  text-align: center;
  margin-top: 10px;
  height: 35px;
  width: 200px;
  padding: 0 10px;
  border: none;
  background-color: #000f05;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgb(7, 0, 0);
  align-self: center;
  margin-bottom: 10px;
  transition: background-color 0.3 ease;
}

.registerContainer > form > button:hover {
  background-color: #003110;
  box-shadow: 5px 5px 25px rgb(20, 0, 0);
}

.Title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 30px;
  }

  .registerContainer {
    width: 75%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px black;
  }

  .registerContainer > form {
    width: 100%;
    padding: 15px;
  }

  .registerContainer > form > input {
    font-size: 14px;
    margin: 10px 0 15px 0;
    width: 95%;
  }

  .registerContainer > form > button {
    width: 100%;
    font-size: 14px;
    height: 40px;
  }

  .Title {
    font-size: 22px;
  }
}
